@model IEnumerable<GameEditViewModel>?

@{
    ViewData["Title"] = "Spellen";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Spel toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Beschrijving</th>
            <th>Speler 1</th>
            <th>Speler 2</th>
            <th>Dominante kleur</th>
            <th>Winnaar</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.PlayerOne.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PlayerTwo.Name)</td>
                <td>
                    @if ("White".Equals(item.PredominantColor))
                    {
                        <div>Wit</div>
                    }
                    else if ("Black".Equals(item.PredominantColor))
                    {
                        <div>Zwart</div>
                    }
                    else
                    {
                        <div>Geen</div>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.PredominantPlayer)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>

                <td>
                    <a href="@Url.Action("Details", new {token = item.Token})">Details</a>
                    
                    @if (item.CanAddPlayerTwo())
                    {
                        <a href="@Url.Action("AddPlayerTwo", new { token = item.Token })">Deelnemen</a>
                    }
                    
                    @if (item.CanStart())
                    {
                        <a href="@Url.Action("Start", new { token = item.Token })">Starten</a>
                    }
                    
                    @if (item.CanQuit())
                    {
                        <a href="@Url.Action("Quit", new { token = item.Token })">Stoppen</a>
                    }
                </td>
                
            </tr>
        }
    }
    </tbody>
</table>
